html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #F5F5F5;
  background: #1F2937;
  font-family: 'Helvetica Neue', sans-serif;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  background-color: #10B981;
  color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #059669;
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  color: #F5F5F5;
  text-decoration: none;
  margin: 10px;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.7;
}
.home {
  width: 100%;
}

.home, .key-selection, .encryption-area, .encryot-decrypt-buttons, .radio-generate, .radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.decrypt-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

}

.algorithm, .algorithm select, .algorithm input, .algorithm textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  /* cursor: pointer; */
  opacity: 0.9;
  
}

.algorithm textarea {
  margin-top: 2rem;
  height:150px;
  width:350px;
}

.encryption-area {
  flex-direction: row;
}

.radio-generate {
  flex-direction: row;
}

.back_button{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #10B981;
  color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.file_upload{
  display: inline-block;
  padding: 10px 20px;
  background-color: #10B981;
  color: #F5F5F5;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin:5px;
}
.file_upload:hover {
  background-color: #059669;
  transform: scale(1.05);
}
#signature{
  height:50px;
}
.radio{
  align-items: unset;
}

.home input {
  /* width: 0%; */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  
}

.dsa-encryption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dsa-encryption textarea {
  height: 150px;
  width: 350px;
  margin-top: 2rem;
}

.encryot-decrypt-buttons :nth-child(1) {
  /* background-color: orange; */
}

.encryot-decrypt-buttons :nth-child(1):hover {
  background-color: orange;
  transform: scale(1.05);
  rotate: 365deg;
}

.encryot-decrypt-buttons :nth-child(2):hover {
  background-color: blue;
  transform: scale(1.05);
  rotate: 365deg;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
}